<form  action="/login" method="POST">
    <input  type="text" placeholder="first_name" name="first_name">
    <input  type="text" placeholder="last_name" name="last_name">
    <input  type="password" placeholder="Password" name="password">
    <input  type="email" placeholder="E-mail" name="email">
    <button >Login</button>
</form>